src/test/resources/wsdl/authorization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" xmlns:xroad="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:ns="http://x-road.eu/xsd/identifiers" xmlns:items="http://xml.vrk.fi/ws/Rova/Authorization/Entities"
                  xmlns:request="http://xml.vrk.fi/ws/Rova/Authorization/Request"
                  xmlns:response="http://xml.vrk.fi/ws/Rova/Authorization/Response"
                  xmlns:tns="http://xml.vrk.fi/ws/Rova/Authorization" name="RovaAuthorization"
                  targetNamespace="http://xml.vrk.fi/ws/Rova/Authorization">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://x-road.eu/xsd/xroad.xsd"
                        schemaLocation="xroad6.xsd" />
        </xsd:schema>
        <xsd:schema xmlns:tns="http://xml.vrk.fi/ws/Rova/Authorization/Entities"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.vrk.fi/ws/Rova/Authorization/Entities">
            <xsd:complexType name="Request">
                <xsd:sequence>
                    <xsd:element name="delegateIdentifier">
                        <xsd:annotation>
                            <xsd:documentation>
                                Mandatory. Unique identifier of delegate
                                entity.
                                In example ssn, business ID or similar.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="principalIdentifier">
                        <xsd:annotation>
                            <xsd:documentation>
                                Optional. This is used when authorization for
                                particular delegation is requested. The unique identifier of
                                principal in example ssn or business ID.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			
            <xsd:complexType name="DecisionReasonType">
                <xsd:sequence>
                    <xsd:element name="rule" type="xsd:string" />
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
			
            <xsd:simpleType name="AuthorizationType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALLOWED" />
                    <xsd:enumeration value="DISALLOWED" />
                </xsd:restriction>
            </xsd:simpleType>
			
            <xsd:complexType name="RovaAuthorizationResponse">
                <xsd:sequence>
                    <xsd:element name="authorization" type="items:AuthorizationType" />
                    <xsd:element name="reason" maxOccurs="unbounded" minOccurs="0" nillable="true" type="tns:DecisionReasonType" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="rovaAuthorizationService">
                <xsd:complexType id="Request">
                    <xsd:sequence>
                        <xsd:element name="request" type="items:Request" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="rovaAuthorizationServiceResponse">
                <xsd:complexType id="Response">
                    <xsd:sequence>
                        <xsd:element name="request" type="items:Request" />
                        <xsd:element name="response" type="items:RovaAuthorizationResponse" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestheader">
        <wsdl:part name="client" element="xroad:client" />
        <wsdl:part name="service" element="xroad:service" />
        <wsdl:part name="userId" element="xroad:userId" />
        <wsdl:part name="id" element="xroad:id" />
        <wsdl:part name="async" element="xroad:async" />
    </wsdl:message>
    <wsdl:message name="rovaAuthorizationService">
        <wsdl:part name="Request" element="items:rovaAuthorizationService" />
    </wsdl:message>
    <wsdl:message name="rovaAuthorizationServiceResponse">
        <wsdl:part name="Response" element="items:rovaAuthorizationServiceResponse" />
    </wsdl:message>
    <wsdl:portType name="rovaAuthorizationPortType">
        <wsdl:operation name="rovaAuthorizationService">
            <wsdl:input name="rovaAuthorizationService" message="tns:rovaAuthorizationService" />
            <wsdl:output name="rovaAuthorizationServiceResponse"
                         message="tns:rovaAuthorizationServiceResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="rovaAuthorizationBinding" type="tns:rovaAuthorizationPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="rovaAuthorizationService">
            <soap:operation soapAction="" />
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:requestheader" part="client"
                             use="literal" />
                <soap:header message="tns:requestheader" part="service"
                             use="literal" />
                <soap:header message="tns:requestheader" part="userId"
                             use="literal" />
                <soap:header message="tns:requestheader" part="id" use="literal" />
                <soap:header message="tns:requestheader" part="async"
                             use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header message="tns:requestheader" part="client"
                             use="literal" />
                <soap:header message="tns:requestheader" part="service"
                             use="literal" />
                <soap:header message="tns:requestheader" part="userId"
                             use="literal" />
                <soap:header message="tns:requestheader" part="id" use="literal" />
                <soap:header message="tns:requestheader" part="async"
                             use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Rova_Authorization_Service">
        <wsdl:documentation>WSDL-file for RoVa Authorization service
        </wsdl:documentation>
        <wsdl:port name="rovaAuthorizationPort" binding="tns:rovaAuthorizationBinding">
            <soap:address location="http://localhost:8000/rova/authorization" />
        </wsdl:port>
    </wsdl:service>
    <!-- Schema for identifiers (reduced) -->
</wsdl:definitions>